@import "tailwindcss";
@import "@nuxt/ui-pro";

@theme static {
  --font-sans: 'Manrope', sans-serif;

  --color-green-50: #f0f9f7;
  --color-green-100: #dcf2ed;
  --color-green-200: #bce5dc;
  --color-green-300: #8dd3c4;
  --color-green-400: #58bca6;
  --color-green-500: #2a8071;
  --color-green-600: #26695c;
  --color-green-700: #235449;
  --color-green-800: #1e463c;
  --color-green-900: #012A25;
  --color-green-950: #082922;
}